@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    user-select: none;
}

:root {
    // --tone2: #82735C;
    // --tone2: #8F7F66;
    --primary1: #0E1116;
    --secondary1: #539987;
    --tone1: rgba(0, 0, 0, 0.8);
    --tone2: #AF9B7F;
}

@media (prefers-color-scheme: light) {
    :root {
        // --primary1: #E2EFDE;
        // --tone1: #F3F8F1;
        // --tone2: #82735C;
        --primary1: #EBEBD3;
        --secondary1: #7e8aaa;
        --tone1: #F9F9F1;
        --tone2: #584A37;
    }

}

::-webkit-scrollbar {
    width: 0;
}


html {
    background-color: var(--primary1);
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    position: relative;
}

.loader {

    z-index: 10000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary1);
    overflow: hidden;

    .loading {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .logo {
        position: relative;
        background-color: var(--primary1);
        padding: 5vmin 4vmin;
        font-size: 4vmin;
        font-weight: 900;
        border: 2px solid var(--tone2);
        border-radius: 3vmin;
        color: var(--tone2);
        box-shadow: 2px 2px 4px var(--tone1), -2px -2px 4px var(--tone2);
        text-shadow: 2px 2px 4px var(--tone1), -2px -2px 4px var(--tone2);
        transition: all 0.5s ease-in-out;
        animation: loader 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    }

    @keyframes loader {
        25% {
            box-shadow: 0px 2.5px 5px var(--tone1),
                0px -2.5px 5px var(--tone2);
        }

        50% {
            box-shadow: -2.5px 0px 5px var(--tone1),
                2.5px 0px 5px var(--tone2);
        }

        75% {
            box-shadow: 0px 2.5px 5px var(--tone1),
                0px 2.5px 5px var(--tone2);
        }

        100% {
            box-shadow: 2.5px 0px 5px var(--tone1),
                -2.5px 0px 5px var(--tone2);
        }

    }


}

section {
    margin: 5vmin;
    background-color: var(--primary1);

    .title {
        position: relative;
        z-index: 10;
        font-size: 6vmin;
        font-weight: 900;
        color: var(--tone2);
        text-transform: uppercase;
        text-align: center;
        padding: 2.5vmin 5vmin;
        margin: 10vmin 5vmin;
        letter-spacing: 10px;
        // margin:5vmin;
        border-radius: 15px;
        // box-shadow: 2.5px 2.5px 5px var(--tone1), -2.5px -2.5px 5px var(--tone2);
        text-shadow: 0.25vmin 0.25vmin 0.25vmin var(--tone1), -0.25vmin -0.25vmin 0.25vmin var(--tone2);
        transition: all 0.3s ease-in-out;

    }


    .title::after {
        content: '';
        position: absolute;
        z-index: -10;
        top: 0%;
        right: 0%;
        height: 100%;
        width: 0%;
    }


    .title:hover {
        // box-shadow: inset 2.5px 2.5px 5px var(--tone1), inset -2.5px -2.5px 5px #7d7b83;
        box-shadow: 5px 5px 10px var(--tone1), -5px -5px 10px var(--tone2);
    }



}




nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    z-index: 1000;
    width: 100%;
    height: 80px;
    // padding: 1.5vmin calc(1vmin + 150px);
    position: fixed;
    flex-wrap: wrap;
    background-color: var(--primary1);
    opacity: 1;

    .small-screen-nav {
        display: none;
    }

    .logo {
        padding: 1.5vmin 1vmin;
        margin-top: 1vmin;
        font-weight: 900;
        border: 2px solid var(--tone2);
        border-radius: 10px;
        color: var(--tone2);
        box-shadow: 2px 2px 4px var(--tone1), -2px -2px 4px var(--tone2);
        transition: all 0.5s ease-in-out;
    }

    .logo:hover {
        border: 2px solid var(--tone1);
        cursor: pointer;
        color: var(--primary1);
        // flex: 0.1;
        background-color: var(--tone2);
    }

    ul {
        flex: 0.4;
        min-width: 400px;
        padding: 20px 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    ul li {
        text-align: center;
        flex: 1;
        // min-width: 100vmin;
        list-style: none;
        // padding: 2vmin 1vmin;
    }

    ul li a {
        position: relative;
        padding: 10px;
        border-radius: 5px;
        font-weight: 700;
        color: var(--tone2);
        letter-spacing: 3px;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
    }

    ul li a:hover {
        color: var(--tone2);
        background-color: var(--primary1);
        // border: 2px solid var(--tone2);
        box-shadow: 2.5px 0px 5px var(--tone1),
            -2.5px 0px 5px var(--tone2);
        animation: nav-animation 4s ease-in-out infinite;
    }

    @keyframes nav-animation {
        25% {
            box-shadow: 0px 2.5px 5px var(--tone1),
                0px -2.5px 5px var(--tone2);
        }

        50% {
            box-shadow: -2.5px 0px 5px var(--tone1),
                2.5px 0px 5px var(--tone2);
        }

        75% {
            box-shadow: 0px 2.5px 5px var(--tone1),
                0px 2.5px 5px var(--tone2);
        }

        100% {
            box-shadow: 2.5px 0px 5px var(--tone1),
                -2.5px 0px 5px var(--tone2);
        }

    }


}





.home {
    height: 100vh;
    // width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    .small-intro {
        font-size: calc(1.9vmin + 8px);
        font-weight: 500;
        color: var(--tone2);
        text-transform: uppercase;
        letter-spacing: 0.8vmin;
    }

    .tagline {
        font-size: calc(1.8vmin + 8px);
        font-weight: 500;
        color: var(--tone2);
        text-transform: uppercase;
        letter-spacing: 0.5vmin;
        font-style: italic;
    }

    .tagline::before {
        content: '⌨<';
    }

    .tagline::after {
        content: '/>';
    }


    .name {
        font-size: 4vmin;
        font-weight: 900;
        transform: scale(1.5);
        text-transform: uppercase;
        color: var(--tone2);
        letter-spacing: 1vmin;
        border-radius: 25px;
        padding: 2.5vmin;
        margin: 5vmin 5vmin;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .name:hover {
        letter-spacing: 1.2vmin;
    }



}




.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;


    .about-info {
        margin: 0 5vmin 10vmin 5vmin;
        flex: 0.8;
        font-size: 2.5vmin;
        font-weight: 700;
        max-width: 90vmin;
        color: var(--tone2);
        text-align: justify;
        line-height: 5vmin;
        padding: 5vmin 10vmin;
        border-radius: 10px;
        box-shadow: 3px 3px 6px var(--tone1), -3px -3px 6px var(--tone2);
        text-shadow: 0 0 0 var(--tone1), -0 -0 0 var(--tone2);
        letter-spacing: 2px;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .about-info:hover {
        text-shadow: 0.1vmin 0.1vmin 0.1vmin var(--tone1), -0.1vmin -0.1vmin 0.1vmin var(--tone2);
        box-shadow: inset 5px 5px 10px var(--tone1), inset -5px -5px 10px var(--tone2);
    }

}



.resume {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;



    #resumeiframe {
        margin: 10vmin 5vmin;
        height: 85vh;
        width: 100vmin;
        border-radius: 10px;
    }


}


.work {
    color: var(--tone2);
    font-weight: 700;
    font-size: medium;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;

    .work-title {
        flex: 0.2;
    }

    .work-exp {
        width: 80vw;
        max-width: 90vmin;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 5vmin 10vmin 5vmin;
        // padding: 2.5vmin 5vmin;
        // margin: 0 0 5vmin 0;
    }

    .company-svg {
        width: 25vmin;
        max-width: 120px;
        max-height: 80px;
    }

    .constella-svg {
        .group-svgs {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
        }

        .company-svg {
            padding: 5px 5px;
        }
    }

    .svg-container {
        box-shadow: 2.5px 2.5px 5px var(--tone1), -2.5px -2.5px 5px var(--tone2);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 150px;
        width: 150px;
        padding: 5px;
        margin: 5vmin;
        border-radius: 15px;


        a {
            flex: 0.8;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .company-name {
            flex: 0.2;
            text-shadow: 0.5px 0.5px 1px var(--tone1), -0.5px -0.5px 1px var(--tone2);
        }
    }


    .svg-container:hover {
        box-shadow: 4px 4px 8px var(--tone1), -4px -4px 8px var(--tone2);

    }

}








.contact {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;

    .contact-title {
        flex: 0.2;
    }

    .contact-info {
        font-size: 3vmin;
        font-weight: 700;
        text-align: justify;
        width: max-content;
        color: var(--tone2);
        padding: 2vmin 0;
        // margin: 0 5vmin 10vmin 5vmin;
        border-radius: 20px;
        text-shadow: 0.1vmin 0.1vmin 0.1vmin var(--tone1), -0.1vmin -0.1vmin 0.1vmin var(--tone2);
    }

    #links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 60vmin;
        max-width: 90vmin;
        padding: 3.5vmin 3.5vmin;
        margin: 0 0 10vmin 0;
        border-radius: 20px;
    }


    .svg {
        user-select: none;
        width: 9vmin;
        height: 9vmin;
        padding: 2vmin;
        border-radius: 5px;
        box-shadow: 0vmin 0vmin 1vmin var(--tone1), 0vmin 0vmin 1vmin var(--tone2);
        transition: all 0.5s ease-in-out;
    }

    .svg:hover {
        box-shadow: 0vmin 0vmin 2vmin var(--tone1), 0vmin 0vmin 2vmin var(--tone2);
    }

    .linkedin svg {
        .path1 {
            fill: var(--tone2);
            transition: all 0.3s ease-in;
        }

        .path2 {
            fill: var(--primary1);
            transition: all 0.3s ease-in;
        }
    }

    //linkedin
    // 0177b5
    .linkedin svg:hover {
        .path1 {
            fill: #0177b5;
            transition: all 0.3s ease-out;
        }

        .path2 {
            fill: var(--primary1);
            transition: all 0.3s ease-out;
        }
    }


    .gmail svg path,
    .gmail svg polygon {
        // fill: #7e8aaa;
        fill: var(--tone2);
        transition: all 0.3s ease-in;
    }

    //gmail
    //path => 1,2,3,4
    //pathcolor => C5221F,FFBA00,2684FC,00AC47
    //polygon =>E94235


    .gmail svg:hover {
        .path1 {
            fill: #C5221F;
            transition: all 0.3s ease-out;
        }

        .path2 {
            fill: #FFBA00;
            transition: all 0.3s ease-out;
        }

        .path3 {
            fill: #2684FC;
            transition: all 0.3s ease-out;
        }

        .path4 {
            fill: #00AC47;
            transition: all 0.3s ease-out;
        }

        .polygon {
            fill: #E94235;
            transition: all 0.3s ease-out;
        }
    }

    .github svg path {
        // fill: #7e8aaa;
        fill: var(--tone2);
        transition: all 0.3s ease-in;
    }

    .github svg:hover {
        path {
            fill: black;
            transition: all 0.3s ease-out;
        }
    }






}


footer {
    width: 100vw;
    border-top: 1px solid var(--tone2);
    font-weight: 900;
    font-size: calc(1.5vmin + 4px);
    letter-spacing: 0.5vmin;
    color: var(--tone2);
    text-align: center;
    padding: 10px 0;
}


@media screen and (max-width:500px) {
    .loader {
        z-index: 10000;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary1);
        overflow: hidden;

        .loading {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .logo {
            position: relative;
            background-color: var(--primary1);
            padding: 5vmin 4vmin;
            font-size: 4vmin;
            font-weight: 900;
            border: 2px solid var(--tone2);
            border-radius: 3vmin;
            color: var(--tone2);
            box-shadow: 2px 2px 1px var(--tone1), -2px -2px 1px var(--tone2);
            text-shadow: 0.5px 0.5px 1px var(--tone1), -0.5px -0.5px 1px var(--tone2);
            transition: all 0.5s ease-in-out;
            animation: loader 4s ease-in-out infinite;
        }


        @keyframes loader {
            25% {
                box-shadow: 0px 0.5px 1px var(--tone1),
                    0px -0.5px 1px var(--tone2);
            }

            50% {
                box-shadow: -0.5px 0px 1px var(--tone1),
                    0.5px 0px 1px var(--tone2);
            }

            75% {
                box-shadow: 0px 0.5px 1px var(--tone1),
                    0px 0.5px 1px var(--tone2);
            }

            100% {
                box-shadow: 0.5px 0px 1px var(--tone1),
                    -0.5px 0px 1px var(--tone2);
            }

        }


    }


    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 50px;
        border-radius: 0;



        .large-screen-nav {
            display: none;
        }


        .logo {
            display: none;
        }

        .logo:hover {
            cursor: pointer;
            color: var(--primary1);
            // flex: 0.1;
            background-color: var(--tone2);
        }

        .small-screen-nav {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        a {
            flex: 1;
        }

        .nav-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            // flex: 1;
            text-align: center;
            padding: 10px auto;
        }

    }

    footer {
        margin-bottom: 50px;
    }


}