@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

:root {
  --primary1: #0E1116;
  --secondary1: #539987;
  --tone1: rgba(0, 0, 0, 0.8);
  --tone2: #AF9B7F;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary1: #EBEBD3;
    --secondary1: #7e8aaa;
    --tone1: #F9F9F1;
    --tone2: #584A37;
  }
}

::-webkit-scrollbar {
  width: 0;
}

html {
  background-color: var(--primary1);
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
}

.loader {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary1);
  overflow: hidden;
}

.loader .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.loader .logo {
  position: relative;
  background-color: var(--primary1);
  padding: 5vmin 4vmin;
  font-size: 4vmin;
  font-weight: 900;
  border: 2px solid var(--tone2);
  border-radius: 3vmin;
  color: var(--tone2);
  -webkit-box-shadow: 2px 2px 4px var(--tone1), -2px -2px 4px var(--tone2);
          box-shadow: 2px 2px 4px var(--tone1), -2px -2px 4px var(--tone2);
  text-shadow: 2px 2px 4px var(--tone1), -2px -2px 4px var(--tone2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-animation: loader 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
          animation: loader 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@-webkit-keyframes loader {
  25% {
    -webkit-box-shadow: 0px 2.5px 5px var(--tone1), 0px -2.5px 5px var(--tone2);
            box-shadow: 0px 2.5px 5px var(--tone1), 0px -2.5px 5px var(--tone2);
  }
  50% {
    -webkit-box-shadow: -2.5px 0px 5px var(--tone1), 2.5px 0px 5px var(--tone2);
            box-shadow: -2.5px 0px 5px var(--tone1), 2.5px 0px 5px var(--tone2);
  }
  75% {
    -webkit-box-shadow: 0px 2.5px 5px var(--tone1), 0px 2.5px 5px var(--tone2);
            box-shadow: 0px 2.5px 5px var(--tone1), 0px 2.5px 5px var(--tone2);
  }
  100% {
    -webkit-box-shadow: 2.5px 0px 5px var(--tone1), -2.5px 0px 5px var(--tone2);
            box-shadow: 2.5px 0px 5px var(--tone1), -2.5px 0px 5px var(--tone2);
  }
}

@keyframes loader {
  25% {
    -webkit-box-shadow: 0px 2.5px 5px var(--tone1), 0px -2.5px 5px var(--tone2);
            box-shadow: 0px 2.5px 5px var(--tone1), 0px -2.5px 5px var(--tone2);
  }
  50% {
    -webkit-box-shadow: -2.5px 0px 5px var(--tone1), 2.5px 0px 5px var(--tone2);
            box-shadow: -2.5px 0px 5px var(--tone1), 2.5px 0px 5px var(--tone2);
  }
  75% {
    -webkit-box-shadow: 0px 2.5px 5px var(--tone1), 0px 2.5px 5px var(--tone2);
            box-shadow: 0px 2.5px 5px var(--tone1), 0px 2.5px 5px var(--tone2);
  }
  100% {
    -webkit-box-shadow: 2.5px 0px 5px var(--tone1), -2.5px 0px 5px var(--tone2);
            box-shadow: 2.5px 0px 5px var(--tone1), -2.5px 0px 5px var(--tone2);
  }
}

section {
  margin: 5vmin;
  background-color: var(--primary1);
}

section .title {
  position: relative;
  z-index: 10;
  font-size: 6vmin;
  font-weight: 900;
  color: var(--tone2);
  text-transform: uppercase;
  text-align: center;
  padding: 2.5vmin 5vmin;
  margin: 10vmin 5vmin;
  letter-spacing: 10px;
  border-radius: 15px;
  text-shadow: 0.25vmin 0.25vmin 0.25vmin var(--tone1), -0.25vmin -0.25vmin 0.25vmin var(--tone2);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section .title::after {
  content: '';
  position: absolute;
  z-index: -10;
  top: 0%;
  right: 0%;
  height: 100%;
  width: 0%;
}

section .title:hover {
  -webkit-box-shadow: 5px 5px 10px var(--tone1), -5px -5px 10px var(--tone2);
          box-shadow: 5px 5px 10px var(--tone1), -5px -5px 10px var(--tone2);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0px;
  z-index: 1000;
  width: 100%;
  height: 80px;
  position: fixed;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--primary1);
  opacity: 1;
}

nav .small-screen-nav {
  display: none;
}

nav .logo {
  padding: 1.5vmin 1vmin;
  margin-top: 1vmin;
  font-weight: 900;
  border: 2px solid var(--tone2);
  border-radius: 10px;
  color: var(--tone2);
  -webkit-box-shadow: 2px 2px 4px var(--tone1), -2px -2px 4px var(--tone2);
          box-shadow: 2px 2px 4px var(--tone1), -2px -2px 4px var(--tone2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav .logo:hover {
  border: 2px solid var(--tone1);
  cursor: pointer;
  color: var(--primary1);
  background-color: var(--tone2);
}

nav ul {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  min-width: 400px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

nav ul li a {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  color: var(--tone2);
  letter-spacing: 3px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

nav ul li a:hover {
  color: var(--tone2);
  background-color: var(--primary1);
  -webkit-box-shadow: 2.5px 0px 5px var(--tone1), -2.5px 0px 5px var(--tone2);
          box-shadow: 2.5px 0px 5px var(--tone1), -2.5px 0px 5px var(--tone2);
  -webkit-animation: nav-animation 4s ease-in-out infinite;
          animation: nav-animation 4s ease-in-out infinite;
}

@-webkit-keyframes nav-animation {
  25% {
    -webkit-box-shadow: 0px 2.5px 5px var(--tone1), 0px -2.5px 5px var(--tone2);
            box-shadow: 0px 2.5px 5px var(--tone1), 0px -2.5px 5px var(--tone2);
  }
  50% {
    -webkit-box-shadow: -2.5px 0px 5px var(--tone1), 2.5px 0px 5px var(--tone2);
            box-shadow: -2.5px 0px 5px var(--tone1), 2.5px 0px 5px var(--tone2);
  }
  75% {
    -webkit-box-shadow: 0px 2.5px 5px var(--tone1), 0px 2.5px 5px var(--tone2);
            box-shadow: 0px 2.5px 5px var(--tone1), 0px 2.5px 5px var(--tone2);
  }
  100% {
    -webkit-box-shadow: 2.5px 0px 5px var(--tone1), -2.5px 0px 5px var(--tone2);
            box-shadow: 2.5px 0px 5px var(--tone1), -2.5px 0px 5px var(--tone2);
  }
}

@keyframes nav-animation {
  25% {
    -webkit-box-shadow: 0px 2.5px 5px var(--tone1), 0px -2.5px 5px var(--tone2);
            box-shadow: 0px 2.5px 5px var(--tone1), 0px -2.5px 5px var(--tone2);
  }
  50% {
    -webkit-box-shadow: -2.5px 0px 5px var(--tone1), 2.5px 0px 5px var(--tone2);
            box-shadow: -2.5px 0px 5px var(--tone1), 2.5px 0px 5px var(--tone2);
  }
  75% {
    -webkit-box-shadow: 0px 2.5px 5px var(--tone1), 0px 2.5px 5px var(--tone2);
            box-shadow: 0px 2.5px 5px var(--tone1), 0px 2.5px 5px var(--tone2);
  }
  100% {
    -webkit-box-shadow: 2.5px 0px 5px var(--tone1), -2.5px 0px 5px var(--tone2);
            box-shadow: 2.5px 0px 5px var(--tone1), -2.5px 0px 5px var(--tone2);
  }
}

.home {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .small-intro {
  font-size: calc(1.9vmin + 8px);
  font-weight: 500;
  color: var(--tone2);
  text-transform: uppercase;
  letter-spacing: 0.8vmin;
}

.home .tagline {
  font-size: calc(1.8vmin + 8px);
  font-weight: 500;
  color: var(--tone2);
  text-transform: uppercase;
  letter-spacing: 0.5vmin;
  font-style: italic;
}

.home .tagline::before {
  content: '⌨<';
}

.home .tagline::after {
  content: '/>';
}

.home .name {
  font-size: 4vmin;
  font-weight: 900;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  text-transform: uppercase;
  color: var(--tone2);
  letter-spacing: 1vmin;
  border-radius: 25px;
  padding: 2.5vmin;
  margin: 5vmin 5vmin;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.home .name:hover {
  letter-spacing: 1.2vmin;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .about-info {
  margin: 0 5vmin 10vmin 5vmin;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  font-size: 2.5vmin;
  font-weight: 700;
  max-width: 90vmin;
  color: var(--tone2);
  text-align: justify;
  line-height: 5vmin;
  padding: 5vmin 10vmin;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 6px var(--tone1), -3px -3px 6px var(--tone2);
          box-shadow: 3px 3px 6px var(--tone1), -3px -3px 6px var(--tone2);
  text-shadow: 0 0 0 var(--tone1), 0 0 0 var(--tone2);
  letter-spacing: 2px;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about .about-info:hover {
  text-shadow: 0.1vmin 0.1vmin 0.1vmin var(--tone1), -0.1vmin -0.1vmin 0.1vmin var(--tone2);
  -webkit-box-shadow: inset 5px 5px 10px var(--tone1), inset -5px -5px 10px var(--tone2);
          box-shadow: inset 5px 5px 10px var(--tone1), inset -5px -5px 10px var(--tone2);
}

.resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.resume #resumeiframe {
  margin: 10vmin 5vmin;
  height: 85vh;
  width: 100vmin;
  border-radius: 10px;
}

.work {
  color: var(--tone2);
  font-weight: 700;
  font-size: medium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work .work-title {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
}

.work .work-exp {
  width: 80vw;
  max-width: 90vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 5vmin 10vmin 5vmin;
}

.work .company-svg {
  width: 25vmin;
  max-width: 120px;
  max-height: 80px;
}

.work .constella-svg .group-svgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.work .constella-svg .company-svg {
  padding: 5px 5px;
}

.work .svg-container {
  -webkit-box-shadow: 2.5px 2.5px 5px var(--tone1), -2.5px -2.5px 5px var(--tone2);
          box-shadow: 2.5px 2.5px 5px var(--tone1), -2.5px -2.5px 5px var(--tone2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
  width: 150px;
  padding: 5px;
  margin: 5vmin;
  border-radius: 15px;
}

.work .svg-container a {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.work .svg-container .company-name {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  text-shadow: 0.5px 0.5px 1px var(--tone1), -0.5px -0.5px 1px var(--tone2);
}

.work .svg-container:hover {
  -webkit-box-shadow: 4px 4px 8px var(--tone1), -4px -4px 8px var(--tone2);
          box-shadow: 4px 4px 8px var(--tone1), -4px -4px 8px var(--tone2);
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .contact-title {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
}

.contact .contact-info {
  font-size: 3vmin;
  font-weight: 700;
  text-align: justify;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: var(--tone2);
  padding: 2vmin 0;
  border-radius: 20px;
  text-shadow: 0.1vmin 0.1vmin 0.1vmin var(--tone1), -0.1vmin -0.1vmin 0.1vmin var(--tone2);
}

.contact #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60vmin;
  max-width: 90vmin;
  padding: 3.5vmin 3.5vmin;
  margin: 0 0 10vmin 0;
  border-radius: 20px;
}

.contact .svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 9vmin;
  height: 9vmin;
  padding: 2vmin;
  border-radius: 5px;
  -webkit-box-shadow: 0vmin 0vmin 1vmin var(--tone1), 0vmin 0vmin 1vmin var(--tone2);
          box-shadow: 0vmin 0vmin 1vmin var(--tone1), 0vmin 0vmin 1vmin var(--tone2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact .svg:hover {
  -webkit-box-shadow: 0vmin 0vmin 2vmin var(--tone1), 0vmin 0vmin 2vmin var(--tone2);
          box-shadow: 0vmin 0vmin 2vmin var(--tone1), 0vmin 0vmin 2vmin var(--tone2);
}

.contact .linkedin svg .path1 {
  fill: var(--tone2);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contact .linkedin svg .path2 {
  fill: var(--primary1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contact .linkedin svg:hover .path1 {
  fill: #0177b5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact .linkedin svg:hover .path2 {
  fill: var(--primary1);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact .gmail svg path,
.contact .gmail svg polygon {
  fill: var(--tone2);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contact .gmail svg:hover .path1 {
  fill: #C5221F;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact .gmail svg:hover .path2 {
  fill: #FFBA00;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact .gmail svg:hover .path3 {
  fill: #2684FC;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact .gmail svg:hover .path4 {
  fill: #00AC47;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact .gmail svg:hover .polygon {
  fill: #E94235;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact .github svg path {
  fill: var(--tone2);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.contact .github svg:hover path {
  fill: black;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

footer {
  width: 100vw;
  border-top: 1px solid var(--tone2);
  font-weight: 900;
  font-size: calc(1.5vmin + 4px);
  letter-spacing: 0.5vmin;
  color: var(--tone2);
  text-align: center;
  padding: 10px 0;
}

@media screen and (max-width: 500px) {
  .loader {
    z-index: 10000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary1);
    overflow: hidden;
  }
  .loader .loading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
  }
  .loader .logo {
    position: relative;
    background-color: var(--primary1);
    padding: 5vmin 4vmin;
    font-size: 4vmin;
    font-weight: 900;
    border: 2px solid var(--tone2);
    border-radius: 3vmin;
    color: var(--tone2);
    -webkit-box-shadow: 2px 2px 1px var(--tone1), -2px -2px 1px var(--tone2);
            box-shadow: 2px 2px 1px var(--tone1), -2px -2px 1px var(--tone2);
    text-shadow: 0.5px 0.5px 1px var(--tone1), -0.5px -0.5px 1px var(--tone2);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-animation: loader 4s ease-in-out infinite;
            animation: loader 4s ease-in-out infinite;
  }
  @-webkit-keyframes loader {
    25% {
      -webkit-box-shadow: 0px 0.5px 1px var(--tone1), 0px -0.5px 1px var(--tone2);
              box-shadow: 0px 0.5px 1px var(--tone1), 0px -0.5px 1px var(--tone2);
    }
    50% {
      -webkit-box-shadow: -0.5px 0px 1px var(--tone1), 0.5px 0px 1px var(--tone2);
              box-shadow: -0.5px 0px 1px var(--tone1), 0.5px 0px 1px var(--tone2);
    }
    75% {
      -webkit-box-shadow: 0px 0.5px 1px var(--tone1), 0px 0.5px 1px var(--tone2);
              box-shadow: 0px 0.5px 1px var(--tone1), 0px 0.5px 1px var(--tone2);
    }
    100% {
      -webkit-box-shadow: 0.5px 0px 1px var(--tone1), -0.5px 0px 1px var(--tone2);
              box-shadow: 0.5px 0px 1px var(--tone1), -0.5px 0px 1px var(--tone2);
    }
  }
  @keyframes loader {
    25% {
      -webkit-box-shadow: 0px 0.5px 1px var(--tone1), 0px -0.5px 1px var(--tone2);
              box-shadow: 0px 0.5px 1px var(--tone1), 0px -0.5px 1px var(--tone2);
    }
    50% {
      -webkit-box-shadow: -0.5px 0px 1px var(--tone1), 0.5px 0px 1px var(--tone2);
              box-shadow: -0.5px 0px 1px var(--tone1), 0.5px 0px 1px var(--tone2);
    }
    75% {
      -webkit-box-shadow: 0px 0.5px 1px var(--tone1), 0px 0.5px 1px var(--tone2);
              box-shadow: 0px 0.5px 1px var(--tone1), 0px 0.5px 1px var(--tone2);
    }
    100% {
      -webkit-box-shadow: 0.5px 0px 1px var(--tone1), -0.5px 0px 1px var(--tone2);
              box-shadow: 0.5px 0px 1px var(--tone1), -0.5px 0px 1px var(--tone2);
    }
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    border-radius: 0;
  }
  nav .large-screen-nav {
    display: none;
  }
  nav .logo {
    display: none;
  }
  nav .logo:hover {
    cursor: pointer;
    color: var(--primary1);
    background-color: var(--tone2);
  }
  nav .small-screen-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  nav a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  nav .nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px;
    text-align: center;
    padding: 10px auto;
  }
  footer {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */